alias ll='ls --almost-all --human-readable -l'
alias la='ls --almost-all'
alias tls='tree -L 1'
alias tla='tree -L 1 -a'
alias clip='xclip -selection clipboard'
alias open='xdg-open'
alias c='clear'
alias cp='cp --verbose --interactive'
alias mv='mv --verbose --interactive'
alias rm='rm --verbose'
alias ln='ln --verbose'
alias mkdir='mkdir --verbose'
alias rmdir='rmdir --verbose'
alias killall='killall --verbose'
alias myip='curl icanhazip.com'
alias os='lsb_release --all'
alias ga='git add --verbose'
alias gs='git status'
alias gd='git diff'
alias gc='git commit --message'
alias gl='git log'
alias glo3='git log --oneline -3'
